<!-- body {
    background-image: url(./images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 10%;
}
.everything {
    font-weight: bolder;
    margin: 1%;
    padding-right: 1cm;
}
#first {
    margin: 5%;
}
#second {
    margin: 5%
}
#third {
    margin: 5%;
}
ul {
    list-style: none;
}
a:link {
    text-decoration: none;
}
a:visited {
    color: black;
}
a:hover {
    color: gray;
}
a:active {
    color: black;
}
p {
    margin: 5%;
    text-align: center;
    padding-left: 1cm;
    font-size: smaller;
    font-weight: 100;
}
-->